{% extends 'base.html' %}

{% block content %}
<h1>Bookstore</h1>

<h5>Nama: </h5>
<p>{{ nama }}</p> <!-- Nama -->
<h5>Kelas: </h5>
<p>{{ kelas }}</p> <!-- Kelas -->

<h5>Data Informasi Stok Buku</h5>

<table border = "1">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}