<h1>Bookstore</h1>

<h5>Nama: </h5>
<p>{{ nama }}</p> <!-- Nama -->
<h5>Kelas: </h5>
<p>{{ kelas }}</p> <!-- Kelas -->

<h5>Data Informasi Stok Buku</h5>
<table border="1">
    <thead>
        <tr>
            <th>Book Name</th>    <!-- Nama Item -->
            <th>Amount</th>       <!-- Jumlah Item -->
            <th>Description</th>  <!-- Deskripsi Item -->
        </tr>
    </thead>
    <tbody>
        {% for info in informasi %}
        <tr>
            <td>{{ info.name }}</td>  
            <td>{{ info.amount }}</td>  
            <td>{{ info.description }}</td>  
        </tr>
        {% endfor %}
</table>